img {
  width: 200px;
  height: 200px;
}
#streets_sprite {
  width: 1500px;
  height: 750px;
  /*Transform: scale forstørre et billede. tager 1 eller to parametre*/
  /* transform: scale(1.3); */
}

#pizza1_container {
  /* roterer x antal grader*/
  transform: rotate(45deg);
  /* translate flytter et element på siden. 1. parameter = x aksen, 2. parameter = y aksen) */
  transform: translate(300px, -40px);
}
